.semaforo{
    margin-left: 45%;
    margin-top: 10%;
    width: 250px;
    height: 700px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    border-radius: 6px;
}
.rojo{
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 50%;
   
}
.amarillo{
    width: 200px;
    height: 200px;
    background-color:yellow;
    border-radius: 50%;
    

}
.verde{
    width: 200px;
     height: 200px;

    background-color: green;
    border-radius: 50%;
}
.brillo{
    box-shadow: 5px 5px 20px 1px rgba(243, 242, 153, 0.897), -5px -5px 20px 1px rgba(243, 242, 153, 0.897);
}
.botones{
    margin-left: 50px;
}
.boton{
    width: 100px;
    height: 50px;
    background-color: green;
    color: white;
}
.parar{
    width: 100px;
    height: 50px;
    background-color:red;
}#cambioColor{
    width: 100px;
    height: 50px;
    background-color: green;
    color: white; 
}
#color{
    width: 100px;
    height: 50px;
    background-color: green;
    color: white;
}







